{% extends "baseTemp/base.html" %}
 
{% block main %}
<main role="main" class="container" style="max-width: 1100px;">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to the "Where do I stand" (W.d.I.s) calculator!</h1>
                <p class="lead">Upload the model files for your Company's products and your Target Competitor's </p>
                <hr class="my-4">

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <p>
                        <strong>How to process a file ?</strong>
                        Upload a file in .xlsx or .xls format and click on 'Upload and Validate'. If you recevie a green
                        confirmation message you then click
                        on 'Calculate OCpR' to see the List vs Plot comparison.
                    </p>
                    <p>
                        <strong>How can I get the generated model?</strong>
                        It will be possible with a simple one time subscription of only 10$
                    </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
 

</br>
    <div class="row">
    <div id="myCompany" class="col">
        <div class="container" id="MyCompanyUpload">
            <div class="row">
                <div class="col">
                    <h1>Your Company Model</h1>
                    <hr>
                    <form id="calcFormMyCompany" action="/upload-OCpR_file" method="POST"  enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Select your model's file</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="file" id="OCpR_file">
                                <label class="custom-file-label" id="fileLabel" for="OCpR_file">Select file...</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="uploadButn1">Upload and Validate</button>
                        <button type="button" class="btn btn-primary" comp="myCompany" onclick="calculateOCpR(this)" id="prcsCal">Calculate OCpR</button>
                    </form>

                </div>
            </div>
        </div>
        <br />
        <div class="container" id="MyCompanyAlerts">

        </div>
        
        <br />
        <div class="container" id="MyCompanyChart">
            <canvas id="myChart" comp="myCompany" width="50" height="50"></canvas>
        </div>
    </div>
    <div id="Competitor" class="col">
        <div class="container" id="CompetitorUpload">
            <div class="row">
                <div class="col">
                    <h1>Competitor Model</h1>
                    <hr>
                    <form id="calcForm2" action="/upload-OCpR_file" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Select OCpR_file</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="file" id="OCpR2">
                                <label class="custom-file-label" id="fileLabel2" for="OCpR2">Select file...</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="uploadButn">Upload and Validate</button>
                        <button type="button" class="btn btn-primary" comp="myCompany" onclick="calculateOCpR(this)" id="prcsCal">Calculate OCpR</button>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <div class="container" id="CompetitorAlerts">
                 
        </div>
        
        <br />
        <div class="container" id="CompetitorChart">
            <canvas id="myChart2" comp="myCompetitor" width="50" height="50"></canvas>
        </div>
    </div>
    </div>
</main>
{% endblock %}

{% block script1 %}

    <script language="javascript" type="text/javascript">

const dictComps = {};
dictComps["fileLabel"] =  "myChart";
dictComps["fileLabel2"] = "myChart2";

 
        function calculateOCpR(el_){

            var name_of_the_file = 'fileName=' + $(el_).parent().find("label[class= custom-file-label]").text()
            var label_file_id    = $(el_).parent().find("label[class= custom-file-label]")[0].id

                $.ajax(
                    {url: "/launchProcess_OCpR_file"
                    ,data:  name_of_the_file
                    , success: function(result){
                        console.log(result);
                        var ctx =  document.getElementById(dictComps[label_file_id]).getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'scatter',
                        data: result} ) 
                    }
                    });
        }

        function checkingResutls(obj, alert_area){

            var success_ =
            `<div class="alert alert-success" role="alert">
                <h4 class="alert-heading">File Can Be Processed!</h4>
            </div>
            `
            var alert_ = 
            `<div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Warning!</strong> You should check on ...
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>`
            var worng_ = 
            `<div class="alert alert-danger" role="alert">
                A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            </div>`
    
            alert_area.empty();

            if (obj.err.length > 0){
                console.log(obj.address);
                obj.err.forEach(element => alert_area.append(wrong_.replace('...', element)));
            }
            else{
                console.log(obj.warn);
                if (obj.warn.length >0){
                    alert_area.append(success_);
                    obj.warn.forEach(element => alert_area.append(alert_.replace('...', element)));
                }
                else{
                    console.log('excellent! No Errors!')
                    console.log(obj.est);
                    alert_area.append(success_);
                }
            }
        }

        window.onload=function(){
        const myForm   = document.getElementById("calcFormMyCompany");
        const CompForm = document.getElementById("calcForm2");

        myForm.addEventListener('submit', function(e) {
            e.preventDefault();
            //we want to clear the area soon after the button click
            var alert_area = $('#MyCompanyAlerts');
            alert_area.empty();
            const fomData = new FormData(this);
            fetch("/upload-OCpR_file", { method: 'post', body: fomData}).then(
                    function(response){
                        return response.text(); }
                            ).then(function (text) {
                                var obj = JSON.parse(text);
                                checkingResutls(obj, alert_area );
                            })});

        CompForm.addEventListener('submit', function(e) {
            e.preventDefault();
            //we want to clear the area soon after the button click
            var comp_alert_area = $('#CompetitorAlerts');
            comp_alert_area.empty();
            const fomData = new FormData(this);
            fetch("/upload-OCpR_file", { method: 'post', body: fomData}).then(
                    function(response){
                        return response.text(); }
                            ).then(function (text) {
                                var obj = JSON.parse(text);
                                checkingResutls(obj, comp_alert_area);
                            })});    
            
            } 
 
        $("#OCpR_file").change(function () {
            var pathLoaded = this.value.replace("C:\\fakepath\\", "");
            console.log(pathLoaded)
            $('#fileLabel').text(pathLoaded);
        });

        $("#OCpR2").change(function () {
            var pathLoaded = this.value.replace("C:\\fakepath\\", "");
            console.log(pathLoaded)
            $('#fileLabel2').text(pathLoaded);
        });

 
  


    </script>
 
{% endblock %}

 